NODE_ENV=development

JWT_SECRET=dev_secret
SERVICE_TOKEN=dev_service_token

API_GATEWAY_PORT=3105
IDENTITY_PORT=3111
CATALOG_PORT=3112
MENU_PORT=3113
RESERVATION_PORT=3114
REVIEW_PORT=3115

IDENTITY_SERVICE_URL=http://localhost:3111
CATALOG_SERVICE_URL=http://localhost:3112
MENU_SERVICE_URL=http://localhost:3113
RESERVATION_SERVICE_URL=http://localhost:3114
REVIEW_SERVICE_URL=http://localhost:3115

RABBITMQ_URL=amqp://booking_user:booking_password@localhost:5672
RABBITMQ_EXCHANGE=booking.events

DATABASE_SYNCHRONIZE=true
IDENTITY_DATABASE_URL=postgres://booking_user:booking_password@localhost:5434/identity_db
CATALOG_DATABASE_URL=postgres://booking_user:booking_password@localhost:5434/restaurant_catalog_db
MENU_DATABASE_URL=postgres://booking_user:booking_password@localhost:5434/menu_db
RESERVATION_DATABASE_URL=postgres://booking_user:booking_password@localhost:5434/reservation_db
REVIEW_DATABASE_URL=postgres://booking_user:booking_password@localhost:5434/review_db
