# Сервер
PORT=3000
NODE_ENV=development

# База данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=jobsearch

# JWT
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d
