POSTGRES_USER=admin
POSTGRES_PASSWORD=abc

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=abc

USERS_DB=lakomka_users
RECIPES_DB=lakomka_recipes
INTERACTIONS_DB=lakomka_interactions

RABBITMQ_URL=amqp://admin:abc@rabbitmq:5672
