NODE_ENV=development
PORT=3104
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=booking_api_user
DATABASE_PASSWORD=booking_api_password
DATABASE_NAME=booking_api
DATABASE_SYNCHRONIZE=true
JWT_SECRET=change_me_before_deploy
CORS_ORIGIN=*
