openapi: 3.1.0
info:
  title: (title)
  version: 0.0.0
tags: []
paths:
  /auth/login:
    post:
      operationId: Auth_login
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                  - token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
  /auth/register:
    post:
      operationId: Auth_register
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                avatar:
                  type: string
              required:
                - username
                - email
                - password
                - firstName
                - lastName
  /comments/recipe/{recipeId}:
    get:
      operationId: Comments_list
      parameters:
        - name: recipeId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      operationId: Comments_add
      parameters:
        - name: recipeId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      security:
        - BearerAuth: []
  /comments/{id}:
    delete:
      operationId: Comments_delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
      security:
        - BearerAuth: []
  /recipes:
    get:
      operationId: Recipes_list
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          explode: false
        - name: categoryId
          in: query
          required: false
          schema:
            type: integer
            format: int32
          explode: false
        - name: difficulty
          in: query
          required: false
          schema:
            type: string
            enum:
              - easy
              - medium
              - hard
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recipe'
    post:
      operationId: Recipes_create
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeInput'
      security:
        - BearerAuth: []
  /recipes/{id}:
    get:
      operationId: Recipes_get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
    put:
      operationId: Recipes_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeInput'
      security:
        - BearerAuth: []
    delete:
      operationId: Recipes_delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
      security:
        - BearerAuth: []
  /recipes/{id}/favorite:
    post:
      operationId: Recipes_favorite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
      security:
        - BearerAuth: []
  /recipes/{id}/like:
    post:
      operationId: Recipes_like
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
      security:
        - BearerAuth: []
  /recipes/{id}/publish:
    post:
      operationId: Recipes_publish
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
      security:
        - BearerAuth: []
components:
  schemas:
    BearerAuth:
      type: object
      required:
        - type
        - scheme
      properties:
        type:
          type: string
          enum:
            - http
          description: Http authentication
        scheme:
          type: string
          enum:
            - Bearer
          description: bearer auth scheme
      description: ''
    Category:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
    Comment:
      type: object
      required:
        - id
        - text
        - user
      properties:
        id:
          type: integer
          format: int32
        text:
          type: string
        user:
          $ref: '#/components/schemas/User'
    Ingredient:
      type: object
      required:
        - name
        - quantity
      properties:
        name:
          type: string
        quantity:
          type: string
    Recipe:
      type: object
      required:
        - id
        - title
        - shortDescription
        - fullDescription
        - difficulty
        - cookingTime
        - author
        - category
        - tags
        - ingredients
        - steps
        - published
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        shortDescription:
          type: string
        fullDescription:
          type: string
        difficulty:
          type: string
          enum:
            - easy
            - medium
            - hard
        cookingTime:
          type: integer
          format: int32
        author:
          $ref: '#/components/schemas/User'
        category:
          $ref: '#/components/schemas/Category'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/Ingredient'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
        image:
          type: string
        published:
          type: boolean
    RecipeInput:
      type: object
      required:
        - title
        - shortDescription
        - fullDescription
        - difficulty
        - cookingTime
        - categoryId
        - tagIds
        - ingredients
        - steps
      properties:
        title:
          type: string
        shortDescription:
          type: string
        fullDescription:
          type: string
        difficulty:
          type: string
          enum:
            - easy
            - medium
            - hard
        cookingTime:
          type: integer
          format: int32
        categoryId:
          type: integer
          format: int32
        tagIds:
          type: array
          items:
            type: integer
            format: int32
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/Ingredient'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
        image:
          type: string
    Step:
      type: object
      required:
        - order
        - description
      properties:
        order:
          type: integer
          format: int32
        description:
          type: string
    Tag:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
    User:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - role
      properties:
        id:
          type: integer
          format: int32
        username:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        avatar:
          type: string
        role:
          type: string
          enum:
            - user
            - admin
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
servers:
  - url: http://localhost:3000/api
    description: Локальный сервер
    variables: {}
